<%- include('../partials/header') %>
<div class="show-page-container">
    <div class="show-page-title">
    <h1 class="center-title"><%= stories.title %>: A <%= stories.genre%> novel</h1>
    </div>
<h2>Add your sentence here:</h2>
<form action="/stories/<%=stories._id%>/sentences" method="POST">
<input type="text" name="content">
<button type="submit">SCRIBE</button>
</form>

<section id='story-container'>
    <p id='story-body'>
    <% stories.sentences.forEach(function(s) { %>
        <%= s.content %>
    <% }); %>
    <p>
</section>

<h2>Communicate with your fellow editors</h2>
<label>Comments?</label>
<form action="/stories/<%= stories._id%>/comments" method="POST">
<input type="text" name="content"></input>
<button type="submit">Comment</button>
</form>


<% stories.comments.forEach(function(s) { %>
    <div class="comment-card">
    <br>
    <div class="comment-content"><%= s.content %></div>
    <br>
    <%= s.userName %>
    <br>
    <img src="<%= s.avatar %>" alt="Avatar">
    <br>
    <% if (userId.toString() === s.user.toString()) { %>
    <form action="/comments/<%= s._id %>?_method=DELETE" method="POST">
    <button type="submit">DELETE</button></form>
    <form action="/comments/<%= s.id %>/"></form>
    <a href="/<%= s._id %>/edit">Edit Comment</a>
    <br>
    <br>
</div>

    <% } %>
<% }); %>
</div>

<%- include('../partials/footer') %>